[Unit]
Description=Argon ONE UP Service
After=multi-user.target
[Service]
Type=simple
Restart=always
RemainAfterExit=true
ExecStart=/usr/bin/python3 /etc/argon/argonkeyboard.py SERVICE
[Install]
WantedBy=default.target
